<a href="https://colab.research.google.com/github/PritamKhan/Data_Analytics/blob/master/Assignment_Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Types and Structures Questions

1.What are data structures, and why are they important?

-> Data structures in python are ways of organizing, storing, and managing data efficiently to enable easy access and modification.
Types of data structures in python are:
i. list[]
ii. Tupel()
iii. set{}
iv. frozenset([])
v. dictionary{"keys":"value"}
Importance are as follows:
>Improve efficiency of time and storage complexity.
>Structure and manage large amounts of data in organizesed manner.
>Impove code and data reusability and scalability.

2.Explain the difference between mutable and immutable data types with examples.

-> Mutable data types in which data maupulation is possible function like data adding new data, updating data, delete data. Modification of data is allowed.
Example: list, set, dictionary
Immutable data types is which data mapulation is not possible. No modification of data is allowed.
Example: tuple

3.What are the main differences between lists and tuples in Python?

->Lists: It is a ordered data structure. Main difference is it is a mutable data type, data modification is allowed. It store heterogenous data.
Example: new_list = [ 1, 2, 6, 9.5, True, "pritam"]
Tuples: It is a ordered data structure. Main difference is it is a immutable data type, data modification is not allowed.It store heterogenous data.
Example: new_tuple = ( 1, 4, 5, 7.2, True, "pritam")

4.Describe how dictionaries store data.

->Dictionaries store data with a "key" idendifying it's "value". Keys are use acess the data.
Example: new_dic = {"name":"Pritam", "email":"pk@gmail.com", "contact": 6549870321}

5.Why might you use a set instead of a list in Python?

->Set data structure are unique collection of element doesn't allow duplicarte element. So we used set instesd of a list in python.
Example:  
input> new_set = {"pritam", 1, 2, 3, 2, 3, 2.1, 3, True, "pritam"}
       print(new_set)
output> {1, 2, 2.1, 3, 'pritam'}

6.What is a string in Python, and how is it different from a list?

->A string in Python is a sequence of characters enclosed in quotes. Example: "hello", 'pritam'. It is immutable, meaning it cannot be changed after onece created.
A list [1, 2, 3] is a collection of items numbers, strings, etc.and is mutable, meaning elements can be modified. Example: new_list = [ 1, 2, 6, 9.5, True, "pritam"]

7. How do tuples ensure data integrity in Python?

->Tuples ensure data integrity in python because they are immutable data structure, meaning their values cannot be changed after created. Their hashability also allows them to be used as dictionary keys and set elements.

8.What is a hash table, and how does it relate to dictionaries in Python?

->A hash table is a data structure that stores key-value pairs and uses a hash function to quickly locate/access values.
In Python, dictionaries are built using hash tables, allowing fast data retrieval, insertion, and deletion  by mapping keys to values efficiently.

9. Can lists contain different data types in Python?

->Yes, lists in Python can contain different data types. A single list can store integers, floats, strings, booleans, other lists, or even objects.
Example: my_list = [10, "hello", 3.14, True, [1, 2, 3]]

10.Explain why strings are immutable in Python.

->Strings in Python are immutable, meaning they cannot be changed after created, because prevents unintended modifications, making strings safer for keys e.g.: keys in dictionaries. Improving performance and memory usage.

11. What advantages do dictionaries offer over lists for certain tasks?

->Dictionaries offer several advantages over lists for certain tasks:
i.Key-Value Mapping: Unlike lists, dictionaries store data in key-value pairs, making data retrieval more intuitive.
ii. Efficient Updates: Adding, updating, or deleting items is faster in dictionaries than in lists.
iii. Uniqueness: Keys are unique, preventing duplicate entries.

12. Describe a scenario where using a tuple would be preferable over a list.

->A tuple is preferable over a list when we need fixed, unchangeable, immutable data. Example: contact number, roll no., etc.

13.How do sets handle duplicate values in Python?

->In Python, sets automatically remove duplicate values because they store only unique elements. Example: my_set = {1, 2, 2, 3, 4, 4}
print(my_set)  # Output: {1, 2, 3, 4} . When adding elements, python checks for duplicates and keeps only one occurrence of each.

14.How does the “in” keyword work differently for lists and dictionaries?

->The in keyword checks for membership but works differently for lists and dictionaries:
Lists: Searches for a value.
Example:my_list = [1, 2, 3]
print(2 in my_list)  # True
Dictionaries: Checks for a key.
Example: my_dict = {"a": 1, "b": 2}
print("a" in my_dict)  # True


15.Can you modify the elements of a tuple? Explain why or why not?

->No, you cannot modify the elements of a tuple because tuples are immutable in python. because once a tuple is created, its elements cannot be changed, added, or removed. This ensures data integrity and security in programs.
Example: my_tuple = (1, 2, 3)
my_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment

16.What is a nested dictionary, and give an example of its use case?

->A nested dictionary is a dictionary inside another dictionary. It is used to store complex data structures where each key maps to another dictionary.
Example: restaurant_menu = {
    'Dish1': {'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon and parmesan'},
    'Dish2': {'name': 'Chicken Caesar Salad', 'price': 12.50, 'description': 'Grilled chicken with romaine lettuce and Caesar dressing'},
    'Dish3': {'name': 'Margherita Pizza', 'price': 14.00, 'description': 'Pizza topped with tomato, mozzarella, and basil'}
}
Nested dictionaries are useful for organizing hierarchical data like databases, configurations, and JSON-like structures.

17. Describe the time complexity of accessing elements in a dictionary.

->Accessing elements in a dictionary has an average time complexity of O(1) because Python dictionaries use a hash table for key lookups.
Time Complexity Details:
Best/Average Case (O(1)) – Direct key lookup is fast.
Worst Case (O(n)) – Rarely, collisions may require scanning multiple elements.
Example: my_dict = {"a": 1, "b": 2}
print(my_dict["a"])  # O(1) lookup
Dictionaries are ideal for fast data retrieval.

18. In what situations are lists preferred over dictionaries?

->Lists are preferred over dictionaries in situations where:
i. Order Matters: Lists maintain the order of elements, unlike older Python dictionaries (before Python 3.7).
ii. Sequential Data: When storing simple ordered data like numbers, names, or tasks.
iii. Small Data Sets: For small collections, lists use less memory than dictionaries.
iv. Index-Based Access: If elements are accessed by position rather than keys.
Example: fruits = ["apple", "banana", "cherry"]  # Ordered list of items

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

->Dictionaries were considered unordered in python store key-value pairs, meaning the order of elements was not guaranteed.
Impact on Data Retrieval:
i. No Sequential Access: Items could appear in a different order than inserted.
ii. Fast Lookups (O(1)): Retrieval is based on keys, not position, making access efficient.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

->Difference Between List and Dictionary in Data Retrieval:

Feature         |  List                      |  Dictionary

Access Method   |  By index (position-based) |  By key (key-value pair)

Lookup Time	    |  O(n) (linear search)	     | O(1) (hash table lookup)

Best Use Case	  |  Storing sequences	       |  Fast lookups by unique keys

Example:
>List (Index-based retrieval)
fruits = ["apple", "banana", "cherry"]
print(fruits[1])  # Output: banana (O(1) for direct index, O(n) for search)

>Dictionary (Key-based retrieval)
prices = {"apple": 1.2, "banana": 0.5, "cherry": 2.0}
print(prices["banana"])  # Output: 0.5 (O(1) lookup)

Conclusion:
Use lists for ordered, sequential data.
Use dictionaries for fast key-based lookups.

#Practical Questions

In [1]:
#1.  Write a code to create a string with your name and print it.
name = "Pritam"
print(name)

Pritam

In [2]:
#2. Write a code to find the length of the string "Hello World".
string = "Hello World"
len(string)

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
string[:3]

'Pyt'

In [5]:
#4.  Write a code to convert the string "hello" to uppercase.
string = "hello"
string.upper()

'HELLO'

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
string.replace("apple", "orange")

'I like orange'

In [7]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [9]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [10]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [11]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
#method-1
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [12]:
#method-2
list = [10, 20, 30, 40, 50]
list[::-1]

[50, 40, 30, 20, 10]

In [13]:
#11.  Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple = (10, 20, 30)
print(tuple)

(10, 20, 30)

In [14]:
#12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

In [17]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1, 2, 3, 2, 4, 2)
tuple.count(2)

3

In [18]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [19]:
#15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple', 'orange', 'banana')
'banana' in tuple

True

In [21]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set = {1, 2, 3, 4, 5, 3, 1, 1.9, 4, 7}
print(set)

{1, 2, 3, 4, 5, 1.9, 7}

In [22]:
#17.  Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [23]:
#18.  Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple = (10, 20, 30)
print(tuple)

(10, 20, 30)

In [25]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

In [27]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1, 2, 3, 2, 4, 2)
tuple.count(2)

3

In [28]:
#21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [29]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple', 'orange', 'banana')
'banana' in tuple

True

In [31]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set = {1, 2, 3, 4, 5, 3, 1, 1.9, 4, 7}
print(set)

{1, 2, 3, 4, 5, 1.9, 7}

In [32]:
#24.  Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}