<a href="https://colab.research.google.com/github/PritamKhan/Data_Analytics/blob/master/Conditional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#conditional >> I will play cricket when the weather is sunny.
#loop >> I will keep checking out dishes untill all the dishes are over in a buffet.
#break statement >> I will check out all the dishes until I get Pasta.

In [2]:
#conditional statement >> helps you to code decision based on some preconditions
#if
#if else
#if elif(elseif) else
#nested if else

In [3]:
#if statements
#syntax
# if condition True:
#   block of code will executed

In [5]:
3>4

False

In [6]:
1<2

True

In [7]:
a =100
if a > 0: #execute the if block/body of it, if the condition is True
    print("The number is greater than 0")

The number is greater than 0

In [8]:
a =100
if a < 0: #execute the if block, if the condition is True
    print("The number is greater than 0")

In [9]:
weather = "rainy"
if weather == "rainy":
    print("I will not play cricket")

I will not play cricket

In [11]:
weather = "sunny"
if weather == "rainy":
    print("I will not play cricket") #indentation is necessary

In [12]:
temp = 30
if temp > 25:
    print("Room temp")

Room temp

In [14]:
is_ds_course = True
if is_ds_course:
    print("I am studying Data Science")

I am studying Data Science

In [15]:
grade = 8
if grade >= 8:
    print("You are Excellent")

You are Excellent

In [16]:
number = 42
if number % 2 == 0:
    print("The number is even")

The number is even

In [17]:
# in real life, dicision are made on multiple conditions

number = 42
if ((number % 2 == 0) & (number > 0)):
  print("This is the number of interest")

This is the number of interest

In [19]:
grade = 8
co_cir = True
if ((grade >= 8) & (co_cir == True)):
    print("You are all rounder")

You are all rounder

In [20]:
#in real life if one condition is not fulfilled, you will do something else
#example:: if wather is not rainy, i will go to play cricket else i will watch TV

In [21]:
#if else >> execute the if block when the condition is true else ececute else block
weather = "sunny"
if weather == "sunny": #condition is true, execute if block.
    print("I will play cricket")
else: #condtion is not true, else block will execute.
  print("I will watch TV")

I will play cricket

In [24]:
age = int(input("Enter your age: "))
if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age: 22
You are eligible to vote

In [25]:
is_ds_course = True
if is_ds_course:
    print("I am studying Data Science")
else:
    print("I am not studying Data Science")

I am studying Data Science

In [30]:
x = int(input("Enter a number: "))
if x == 0:
    print("The number is neither positive nor negative")
elif x > 0:
    print("The number is positive")
else:
    print("The number is negative")

Enter a number: -4
The number is negative

In [31]:
#to check if a no is even
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

Enter a number: 23
The number is odd

In [58]:
#to chech if a year is leap year
year = int(input("Enter a year: "))
if (((year % 4 == 0) & (year % 100 != 0)) | (year % 400 == 0)):
    print("The year is a leap year")
else:
    print("The year is not a leap year")

Enter a year: 1996
The year is a leap year

In [70]:
#to check if a number is primre
number = int(input("Enter a number: "))
if number > 1:
    for i in range(2, number):
        if (number % i) == 0:
            print(number, " is not a prime number")
            break
    else:
        print(number, " is a prime number")

Enter a number: 21
21  is not a prime number

In [62]:
#if else >> two condition
#in real life we can have multiple condition
#syntax
#if some condition
#elif some condition
#else

In [64]:
a = 100
if a > 100:
    print("The block will be executed if a is grater than 100")
elif a < 100:
    print("The block will be executed if a is lesser than 100")
else:
    print("The number is eqals to 100")

The number is eqals to 100

In [65]:
a = 1000000
if a < 100:
    print("The block will be executed if a is lesser than 100")
elif a > 2000:
    print("The number is huge") #if conditi satisfied it will stop here.
elif a > 100:
    print("The block will be executed if a is grater than 100")
else:
    print("The number is eqals to 100")

The number is huge

In [69]:
marks = int(input("Enter your marks: "))
if (marks >= 90):
    print("Grade A")
elif (80<=marks<90):
    print("Grade B")
elif (70<=marks<80):
    print("Grade C")
elif (60<=marks<70):
    print("Grade D")
elif (50<=marks<60):
    print("Grade E")
else:
    print("Grade F")

Enter your marks: 75
Grade C

In [73]:
age = int(input("Enter your age: "))
if age < 18:
    print("You are minority")
elif (18<=age<=65):
    print("You are adult")
else:
    print("You are senior citizen")

Enter your age: 88
You are senior citizen

In [75]:
#nested if else
x = 7
y = 6
if x > 5:
    if y > 5:
        print("Both x and y is greater than 5")
    else:
        print("x is greater than 5 and y is less than 5")
else:
    print("x is not greater than 5")

Both x and y is greater than 5

In [78]:
is_vip = False
age = 15
if is_vip:
  if age >= 18:
    if age <65:
      print("Welcome to vip customer")
    else:
      print("You are not vip aand verry imp. You are eligible for senior citizen discount")
  else:
    print("vip satus is only for adult")
else:
  print("You are not a vip customer and will be charge a regular price ")

You are not a vip customer and will be charge a regular price

In [79]:
a = input("Enter a no ") #by default input treat everything as string
print("The no is", a)

Enter a no 50
The no is 50

In [80]:
type(a)

str

In [81]:
a = int(input("Enter a no "))
a

Enter a no 6

6

In [82]:
type(a)

int

In [84]:
a = int(input("Enter a no "))
if a >= 100:
  print("The no is grater than 100")
elif 0<=a<100:
  print("The no is grater than  0 and less than 100")
else:
  print("This is a negative number")

Enter a no -2
This is a negative number

In [86]:
name = input("Enter your name: ")
email = input("Enter your email: ")
password = input("Enter your password: ")

if name == "":
  print("Please enter a valid name, can not be empty")
else:
  if "@" not in email:
    print("Please enter a valid email")
  else:
    if len(password) < 0:
      print("Np password entered, pls provide a valid password")
    else:
      print("Registration successful")

Enter your name:
Enter your email: new@gmail.com
Enter your password:
Please enter a valid name, can not be empty