<a href="https://colab.research.google.com/github/PritamKhan/Data_Analytics/blob/master/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#loop statement >> It allows you to execute a block repeatedly
#loops >> while loop and for loops

In [ ]:
#while >> repeatedly execute a block of code a condition is met

In [ ]:
#syntax
#while conditio
#>> while is a key word for a while loop

In [ ]:
n = 7
i = 1
while i < n:
  print(i)
  i += 1

1
2
3
4
5
6

In [ ]:
n = 7
i = 1
while i < n:
  print(i * "#")
  i += 1

#
##
###
####
#####
######

In [ ]:
 count = 5
 while count > 0:
  print(count)
  count -= 1

5
4
3
2
1

In [ ]:
 count = 5
 while count > 0:
  print(count * "*")
  count -= 1

*****
****
***
**
*

In [ ]:
n = 7
i = 1
while i < n:
  print(i)
  i += 1
else:
  print("This will be executed once your while will complete successfully withot any break")

1
2
3
4
5
6
This will be executed once your while will complete successfully withot any break

In [ ]:
#break terninate/exit the loop
n = 7
i = 1
while i < n:
  print(i)
  i += 1
  if i == 5:
    break
else:
  print("This will be executed once your while will complete successfully withot any break")

1
2
3
4

In [ ]:
#continue >> skips the iteration
n = 7
i = 1
while i < n:
  i += 1
  if i == 5:
    continue
  print(i)
else:
  print("This will be executed once your while will complete successfully withot any break")

2
3
4
6
7
This will be executed once your while will complete successfully withot any break

In [ ]:
#for loop >> iterate over a sequence of elements
for i in "pritam":
  print(i)

p
r
i
t
a
m

In [ ]:
a = "pritam"
for i in a:
  print(i)

p
r
i
t
a
m

In [ ]:
l = [1, 2, "pritam", "nikhil"]
for i in l:
  print(i)

1
2
pritam
nikhil

In [ ]:
for i in l:
  print(i)
else:
  print("This will be executed when loop ends withot a break")

1
2
pritam
nikhil
This will be executed when loop ends withot a break

In [ ]:
#break statement in for loop
for i in l:
  if i == "pritam":
      break
  print(i)
else:
  print("This will be executed when loop ends withot a break")

1
2

In [ ]:
for i in l:
  if i == "pritam":
      continue
  print(i)
else:
  print("This will be executed when loop ends withot a break")

1
2
nikhil
This will be executed when loop ends withot a break

In [ ]:
list( range(0,10) ) #it will give value from 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
#syntax of range(start, stop, step)
list(range(0, 100, 5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
#problem statement
#print a right triangle with *

In [ ]:
row = int(input("Enter the number of rows: "))
for i in range(0, row+1):
  print(i * " *")

Enter the number of rows: 3

 *
 * *
 * * *

In [ ]:
row = int(input("Enter the number of rows: "))
col = 1
while col <= row:
  print(col * " *")
  col += 1

Enter the number of rows: 5
 *
 * *
 * * *
 * * * *
 * * * * *

In [ ]:
x = 5
while x > 0:
  print(x * " *")
  x -= 1

 * * * * *
 * * * *
 * * *
 * *
 *

In [ ]:
for i in range(4):
  for j in range(i+1):
    print("#", end=" ")
  print()

#
# #
# # #
# # # #

In [ ]:
#squar pattern
row = int(input("Enter the number of rows: "))
col = int(input("Enter the number of colums: "))
for i in range(row): #rows
  for j in range(col): #colums
    print("#", end=" ")
  print()

Enter the number of rows: 5
Enter the number of colums: 2
# #
# #
# #
# #
# #

In [ ]:
#conditionals with for loops
num =[1, 2, 3, 4, 5, 6, 7, 8, 9]
for num in num:
  if (num == 3) or (num == 6):
    continue
  print(num)

1
2
4
5
7
8
9

In [ ]:
num =[1, 2, 3, 4, 5, 6, 7, 8, 9]
for num in num:
  if (num == 3) or (num == 6):
    break
  print(num)

1
2

In [ ]:
#print the even no
for i in range(1, 11):
  if i % 2 != 0:
    continue
  print(i)

2
4
6
8
10

In [ ]:
#print the odd no
for i in range(1, 11):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
#multiplication tabel
for i in range(1, 11):
  for j in range(1, 11):
    product = i * j
    print(f"{i} x {j} = {product}")
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not