<a href="https://colab.research.google.com/github/PritamKhan/Data_Analytics/blob/master/revision_on_lambda%2C_map%2C_filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#map()

In [1]:
#syntax - map(function, iterable)

In [2]:
mynum = [1, 2, 3, 4, 5]

In [3]:
sq = map(lambda num: num ** 2, mynum)

In [7]:
sq

In [8]:
print(list(sq))

[1, 4, 9, 16, 25]

In [9]:
def myfact(n):
  myfact = 1
  for i in range(1, n+1):
    myfact = myfact * i
  return myfact

In [10]:
myfact(5)

120

In [11]:
mylist = [2, 4, 5, 6, 7]

In [12]:
fact_num = map(myfact, mylist)

In [13]:
fact_num

In [14]:
print(list(fact_num))

[2, 24, 120, 720, 5040]

In [16]:
def mf(n):
  return n ** 3

In [17]:
mylist

[2, 4, 5, 6, 7]

In [19]:
cube = map(mf, mylist)

In [20]:
print(list(cube))

[8, 64, 125, 216, 343]

In [21]:
a = [1,2,3]
b = [4,5,6]

In [22]:
#[5,7,9]

In [23]:
sum_ab = map(lambda x, y: x+y, a, b)

In [24]:
print(list(sum_ab))

[5, 7, 9]

In [25]:
# convert strings to integers. mylist = ["1","2","3","4"]
convert_int = map(int, mylist)

In [26]:
print(list(convert_int))

[2, 4, 5, 6, 7]

In [29]:
#  mylist = ["pritam","akash", "rahul"], convert a list from lowercase to uppercase
mylist = ["pritam","akash", "rahul"]
convert_upper = map(str.upper, mylist)

In [30]:
print(list(convert_upper))

['PRITAM', 'AKASH', 'RAHUL']

In [31]:
# mylist = ["pritam","akash", "rahul"], extract the len of each element
mylist = ["pritam","akash", "rahul"]
extract_len = map(len, mylist)

In [32]:
print(list(extract_len))

[6, 5, 5]

In [35]:
# mylist = [1,2,3,4], return even if number is even and return odd if number is odd
mylist = [1,2,3,4]
check_even_odd = map(lambda num: "even" if num % 2 == 0 else "odd", mylist)

In [36]:
print(list(check_even_odd))

['odd', 'even', 'odd', 'even']

In [37]:
# mylist = ["2.13","4.52"], convert strings to float
mylist = ["2.13","4.52"]
convert_float = map(float, mylist)

In [38]:
print(list(convert_float))

[2.13, 4.52]

#Filter()

In [39]:
#filter(function, iterable)

In [40]:
mynum = [1,2,3,4,5]

In [41]:
even_n = filter(lambda num: num % 2 == 0, mynum)

In [42]:
print(list(even_n))

[2, 4]

In [43]:
# words = ["banana","apple","cherry","kiwi","grapes"]. filter words with more than 5 letters
words = ["banana","apple","cherry","kiwi","grapes"]
filter_words = filter(lambda word: len(word) > 5, words)

In [44]:
print(list(filter_words))

['banana', 'cherry', 'grapes']

In [45]:
# mynum = [-1,2,-3,4,5,6], filter only positive numbers
mynum = [-1,2,-3,4,5,6]
filter_num = filter(lambda num: num > 0, mynum)

In [46]:
print(list(filter_num))

[2, 4, 5, 6]

In [47]:
# words = ["pritam","","Khan",""], filter non empty strings
words = ["pritam","","Khan",""]
filter_empty = filter(lambda word: word != "", words)

In [48]:
print(list(filter_empty))

['pritam', 'Khan']

In [49]:
# names = ["pritam","apple","ana","shreya"], filter names starting with a
names = ["pritam","apple","ana","shreya"]
filter_names = filter(lambda name: name[0] == "a", names)

In [50]:
print(list(filter_names))

['apple', 'ana']

In [51]:
#  mynum = [1,2,3,4,5,6,7,8], filter odd numbers
mynum = [1,2,3,4,5,6,7,8]
odd_n = filter(lambda num: num % 2 != 0, mynum)

In [52]:
print(list(odd_n))

[1, 3, 5, 7]

#Reduce()

In [53]:
from functools import reduce

In [54]:
#reduce(function, iterable [intializer])

In [55]:
mylist = [1,2,3,4,5]

In [56]:
total = reduce(lambda x, y: x + y, mylist)

In [58]:
# cumulative
print(total)

15

In [59]:
product = reduce(lambda x, y: x * y, mylist)

In [60]:
print(product)

120

In [61]:
#find the max element of a list

In [66]:
mylist = [8, 9, 7, 3, 1, 12, 41, 72, 10]

In [71]:
max_el = reduce(lambda x, y: x if x > y else y, mylist,)

In [72]:
print(max_el)

72

#List Comprehension

In [73]:
#[expression for item in iterable if condition]

In [74]:
mylist = [1,2,3,4,5]

In [75]:
for i in mylist:
  if i % 2 == 0:
    print(i)

2
4

In [77]:
even_no = [i for i in mylist if i % 2 == 0]

In [78]:
even_no

[2, 4]

In [79]:
for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [80]:
sq = [i**2 for i in range(1,11)]

In [81]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
mylist

[1, 2, 3, 4, 5]

In [83]:
#[4,8]

In [91]:
for i in mylist:
  if i % 2 == 0:
    print(i * 2)

4
8

In [92]:
ic = [i*2 for i in mylist if i%2 == 0]

In [93]:
ic

[4, 8]

In [94]:
mylist

[1, 2, 3, 4, 5]

In [95]:
for i in mylist:
  if i % 2 == 0:
    print("Even")
  else:
    print("Odd")

Odd
Even
Odd
Even
Odd

In [96]:
check_even_odd = ["Even" if i % 2 == 0 else "Odd" for i in mylist]

In [97]:
check_even_odd

['Odd', 'Even', 'Odd', 'Even', 'Odd']

In [98]:
#  find out lengths of every element of a list using lc. mylist = ["pritam","Rahul"]
mylist = ["pritam","Rahul"]
find_len = [len(i) for i in mylist]

In [99]:
find_len

[6, 5]

In [100]:
# mylist = [-1,2,0,3,4,-2]. create a list with values "pos","neg", "zero" as per the value present in the mylist. if positive , print "pos", if neg print "neg" else "zero"
mylist = [-1,2,0,3,4,-2]
check_pos_neg = ["pos" if i > 0 else "neg" if i < 0 else "zero" for i in mylist]

In [101]:
check_pos_neg

['neg', 'pos', 'zero', 'pos', 'pos', 'neg']

#Dictionary comprehension

In [102]:
#[key:value for item in iterable if condition]

In [103]:
#(1:1, 2:4, 3:9, 4:16, 5:25)

In [104]:
s_d = {i : i ** 2 for i in range(1,6)}

In [105]:
s_d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [106]:
# {"a":1, "b":2, "c":3, "d":4,} -> {1:"a", 2:"b", 3:"c", 4:"d"}

In [109]:
mydict = {"a":1, "b":2, "c":3, "d":4}
swap = {value : key for key,value in mydict.items()}

In [110]:
swap

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [111]:
s_d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [112]:
fil_d = {key:value for key,value in s_d.items() if value % 2 == 0}

In [113]:
fil_d

{2: 4, 4: 16}

In [119]:
# Create a new dictionary and include only items where the length of keys is > 3
mydict = {"a": "Pritam", "b": "Akash", "c": "Rahul", "d": "Shreya"}

# Filter items where the value length is greater than 3
dict_len = {key: value for key, value in mydict.items() if len(value) > 5}

print(dict_len)

{'a': 'Pritam', 'd': 'Shreya'}

In [120]:
mydict = {"alice":"engine", "bob":"coctor","charlie":"painter", "daniel":"construction", "jon":"artist"}

In [121]:
# Filter items where the key length is greater than 3
dict_len = {key: value for key, value in mydict.items() if len(key) > 5}

print(dict_len)

{'charlie': 'painter', 'daniel': 'construction'}