<a href="https://colab.research.google.com/github/PritamKhan/Data_Analytics/blob/master/tuples_and_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#tuples are ordered collection of elements, hetrogenous
#tuple are immutable

In [2]:
t = ()

In [3]:
type(t)

tuple

In [2]:
t = ("pritam", "nikhil", 2, 2.5, True, 5+3j)

In [3]:
type(t)

tuple

In [4]:
t[-1]

(5+3j)

In [7]:
#tuples are immutabble
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [9]:
#use > use tuple as a dta structure where we dont want to modify the data
empid = (1, 2, 3, 4, 5)
empid[1] = 100

TypeError: 'tuple' object does not support item assignment

In [10]:
tuple1 =  ("pritam", 1, 1 , 1, 2, 2, "pritam", 2.2)
tuple1.count("pritam")

2

In [11]:
tuple1.count(1)

3

In [12]:
tuple1.index("pritam")

0

In [13]:
print(tuple1*2)

('pritam', 1, 1, 1, 2, 2, 'pritam', 2.2, 'pritam', 1, 1, 1, 2, 2, 'pritam', 2.2)

In [15]:
tuple1[0:4]

('pritam', 1, 1, 1)

In [16]:
tuple1[::-1]

(2.2, 'pritam', 2, 2, 1, 1, 1, 'pritam')

In [17]:
for i in tuple1:
    print(i, type(i))

pritam <class 'str'>
1 <class 'int'>
1 <class 'int'>
1 <class 'int'>
2 <class 'int'>
2 <class 'int'>
pritam <class 'str'>
2.2 <class 'float'>

In [18]:
t1 = (1, 2, 100, 0, 200)
max(t1)

200

In [19]:
min(t1)

0

In [20]:
t2 = (110, 201)

In [21]:
t2

(110, 201)

In [22]:
t1

(1, 2, 100, 0, 200)

In [24]:
t3 = (t1, t2)#nested tuples

In [25]:
t3

((1, 2, 100, 0, 200), (110, 201))

In [26]:
type(t3)

tuple

In [27]:
del t3

In [28]:
t3

NameError: name 't3' is not defined

In [29]:
len(t1)

5

In [30]:
1 in t1

True

In [33]:
"pritam" in tuple1

True

In [34]:
"pritam" not in tuple1

False

In [35]:
t1

(1, 2, 100, 0, 200)

In [36]:
t2

(110, 201)

In [38]:
#combine both the tuple
t1 + t2

(1, 2, 100, 0, 200, 110, 201)

In [39]:
#sets >> sets are unordered and unique collection of elements
#doesn't allow duplicate elements
#unordered>> indexing will not work

In [41]:
s = {}
type(s)

dict

In [42]:
s = {1}
type(s)

set

In [43]:
s = {1, 2, 3, 4}

In [44]:
type(s)

set

In [45]:
s = {1, 2, 3, 1, 2, 3, 1, 2, 3 ,"Pritam", "pritam", "Pritam", "pritam"}
s

{1, 2, 3, 'Pritam', 'pritam'}

In [47]:
#use case
list1 = [1, 2, 3, "apple", "banana", "apple", "banana"]
s = set(list1)

In [48]:
s

{1, 2, 3, 'apple', 'banana'}

In [49]:
list1 = list(s)
list1

[1, 2, 3, 'apple', 'banana']

In [50]:
s[0]

TypeError: 'set' object is not subscriptable

In [51]:
s[1]

TypeError: 'set' object is not subscriptable

In [52]:
s = {1, 2, 3, 2, 4, 5}
s

{1, 2, 3, 4, 5}

In [53]:
s = {1, 2, 3, 4, 5, {4, 5, 6}} #unhashable type>> it is mutable-list, set
#immutable data structure has a stable hash vale like tuples

TypeError: unhashable type: 'set'

In [55]:
{1, 2, 3, 4, 5, [4, 5, 6]}

TypeError: unhashable type: 'list'

In [57]:
{1, 2, 3, 4, 5, (4, 5, 6)} #it didnt throw error, because tuple is immutable>> stable hash type

{(4, 5, 6), 1, 2, 3, 4, 5}

In [58]:
s[0] #not indexed

TypeError: 'set' object is not subscriptable

In [59]:
s[:2]

TypeError: 'set' object is not subscriptable

In [60]:
for i in s:
  print(i)

1
2
3
4
5

In [61]:
#set is mutable
s.add(100)

In [62]:
s

{1, 2, 3, 4, 5, 100}

In [64]:
s.add(7) #not compulsory that it will add to the last of set
s

{1, 2, 3, 4, 5, 7, 100}

In [66]:
s.pop() #it is not compulsary that it will remove the last element

1

In [65]:
s

{1, 2, 3, 4, 5, 7, 100}

In [67]:
s.remove(3)#removes a specific element

In [68]:
s

{2, 4, 5, 7, 100}

In [69]:
s.pop(4) #it removes randomly

TypeError: set.pop() takes no arguments (1 given)

In [70]:
s.remove(102)

KeyError: 102

In [71]:
s

{2, 4, 5, 7, 100}

In [72]:
s.update("pritam") #update take iterable
s

{100, 2, 4, 5, 7, 'a', 'i', 'm', 'p', 'r', 't'}

In [73]:
s.update(["pritam"])
s

{100, 2, 4, 5, 7, 'a', 'i', 'm', 'p', 'pritam', 'r', 't'}

In [74]:
s.update([2, 3])
s

{100, 2, 3, 4, 5, 7, 'a', 'i', 'm', 'p', 'pritam', 'r', 't'}

In [75]:
s = {(1, 2, 3), 100, '2', 3.4}

In [76]:
type(s)

set

In [77]:
s.clear()

In [78]:
s

set()

In [79]:
del s

In [80]:
s

NameError: name 's' is not defined

In [87]:
s = {(1, 2, 3), 100, 101, 102, '2', 3.4}

In [88]:
s

{(1, 2, 3), 100, 101, 102, '2', 3.4}

In [89]:
s.remove(101)

In [90]:
s

{(1, 2, 3), 100, 102, '2', 3.4}

In [91]:
s.remove(111) #throw an erroe as 111 is not present

KeyError: 111

In [92]:
s

{(1, 2, 3), 100, 102, '2', 3.4}

In [93]:
s.discard(100)

In [94]:
s

{(1, 2, 3), 102, '2', 3.4}

In [97]:
s.discard(110) #errorn will not be thrown unlikely remove if the element is not present

In [98]:
s

{(1, 2, 3), 102, '2', 3.4}

In [99]:
#set operations
#Union: combines elements from two sets excluding duplicates
#Intersection: only common elements btw sets
#difference: return the elements that is present in first set and not in second
#symmetric difference: returns elements that are present in either of sets but not in both

In [108]:
s1 = {"hiking", "reading", "coding"}
s2 = {"photography", "coding", "cooking", "travelling"}

In [109]:
s1

{'coding', 'hiking', 'reading'}

In [110]:
s2

{'coding', 'cooking', 'photography', 'travelling'}

In [111]:
#union >> combime all the elements
s1 | s2

{'coding', 'cooking', 'hiking', 'photography', 'reading', 'travelling'}

In [112]:
#intersection >> common elements
s1 & s2

{'coding'}

In [113]:
#difference
s1 - s2

{'hiking', 'reading'}

In [114]:
#symmetric difference
s1 ^ s2

{'cooking', 'hiking', 'photography', 'reading', 'travelling'}

In [115]:
#frozen sets

In [116]:
s = {1, 2, 3}
s.add(100)

In [117]:
s

{1, 2, 3, 100}

In [120]:
#frozen sets >> immutable version of set, can not be added or remove any new element
my_fs = frozenset([1, 2 , 2, 3 , 3, 4, 5])
my_fs

frozenset({1, 2, 3, 4, 5})

In [121]:
type(my_fs)

frozenset

In [122]:
my_fs.add(9)

AttributeError: 'frozenset' object has no attribute 'add'

In [123]:
my_fs.add(7,8)

AttributeError: 'frozenset' object has no attribute 'add'

In [124]:
my_fs.pop()

AttributeError: 'frozenset' object has no attribute 'pop'