In [26]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\pritam\appdata\local\programs\python\python310\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\pritam\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pritam\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pritam\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pritam\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\pritam\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -andas (c:\users\pritam\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\pritam\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\pritam\appdata\local\programs\python\python310\lib\site-packages)

In [27]:
import pandas as pd

In [28]:
pd1 = pd.Series(10, index = ['a','b','c','d','e'])

In [29]:
pd1

a    10
b    10
c    10
d    10
e    10
dtype: int64

In [30]:
pd1 = pd.Series(10)

In [31]:
pd1

0    10
dtype: int64

In [32]:
pd1 = pd.Series([10,20,30,40,50])

In [33]:
pd1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [34]:
pd1 = pd.Series([10,20,30,40,50], index = ["a","b","c","d","e"])

In [35]:
pd1

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [36]:
import numpy as np
np1 = np.array([1,2,3,4,5])
np1

array([1, 2, 3, 4, 5])

In [37]:
pd1 = pd.Series(np1,index = ["a","b","c","d","e"])

In [38]:
pd1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [39]:
mydict = {"a":10,"b":20,"c":30,"d":40}

In [40]:
pd2 = pd.Series(mydict)

In [41]:
pd2

a    10
b    20
c    30
d    40
dtype: int64

In [42]:
pd1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [47]:
pd1.iloc[1] #int location

np.int64(2)

In [48]:
pd1["c"]

np.int64(3)

In [49]:
pd1[["a","b","d","e"]]

a    1
b    2
d    4
e    5
dtype: int64

In [50]:
pd1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [51]:
pd1[0:4]

a    1
b    2
c    3
d    4
dtype: int64

In [52]:
pd1["a":"e"]

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [53]:
pd1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [54]:
pd1.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [55]:
pd1.values

array([1, 2, 3, 4, 5])

In [56]:
pd1.name = "myseries"

In [57]:
print(pd1.name)

myseries

In [58]:
pd1.dtype

dtype('int64')

In [59]:
pd1.shape

(5,)

In [60]:
pd1.size

5

In [ ]:
pd1.empty #check any value is empty or not

False

In [ ]:
pd1.hasnans #check null or none value

False

In [ ]:
pd1.is_unique #check unique value

True

In [ ]:
pd1.ndim #Return an int representing the number of axes / array dimensions.

1

In [65]:
pd1

a    1
b    2
c    3
d    4
e    5
Name: myseries, dtype: int64

In [66]:
pd1.head(2)

a    1
b    2
Name: myseries, dtype: int64

In [67]:
pd1.tail(2)

d    4
e    5
Name: myseries, dtype: int64

In [68]:
pd1.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
Name: myseries, dtype: float64

In [69]:
pd1.value_counts()

myseries
1    1
2    1
3    1
4    1
5    1
Name: count, dtype: int64

In [70]:
pd1.sort_values()

a    1
b    2
c    3
d    4
e    5
Name: myseries, dtype: int64

In [71]:
pd1.sort_values(ascending=False)

e    5
d    4
c    3
b    2
a    1
Name: myseries, dtype: int64

In [72]:
pd1.drop("c")

a    1
b    2
d    4
e    5
Name: myseries, dtype: int64

In [73]:
pd1.replace(5,21)

a     1
b     2
c     3
d     4
e    21
Name: myseries, dtype: int64