Exception handling

In [1]:
n = 5

In [2]:
result = n/0

ZeroDivisionError: division by zero

In [3]:
n=5
try:
    result = n/0
except ZeroDivisionError:
    print("can't be divided by zero")

can't be divided by zero

1. Error - problems in the logic of code or configuration - syntax errors/memory errors
2. Exception - invalid input, missing files, network issue etc

In [ ]:
print("python programming") #syntax error
      
n=5
res = n/0 #exception

1. try: code that might raise an exception
2. except: code to handle the exception
3. else: code to run if no exception occurs
4. finally: code to run regardless of whether an exception occurs or not

In [4]:
try:
    n = 0
    result = 100/n
    
except ZeroDivisionError:
    print("you cannot divide by zero")
    
except ValueError:
    print("enter a valid number")
    
else:
    print(result)
    
finally:
    print("completed execution of code.")

you cannot divide by zero
completed execution of code.

In [5]:
n = 0
result = 100/n

ZeroDivisionError: division by zero

In [6]:
n = int("3")

In [7]:
n

3

In [8]:
n = int("python")

ValueError: invalid literal for int() with base 10: 'python'

In [11]:
try:
    n = 0
    
    inv = 1/n
    
except ValueError:
    print("not valid")

except ZeroDivisionError:
    print("Zero has no inverse")

Zero has no inverse

In [9]:
n = int("str")
inv = 1/n

ValueError: invalid literal for int() with base 10: 'str'

In [12]:
try:
    result = "100"/20
    
except ArithmeticError:
    print("Arithmetic probs")
    
except:
    print("something went wrong")

something went wrong

In [13]:
result = "100"/20

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [16]:
def set(age):
    if age < 0:
        raise ValueError("age cannot be negative")
    print(age)
        
try:
    set(-5)
except ValueError as e:
    print(e)

age cannot be negative

In [17]:
def set(age):
    if age < 0:
        raise ValueError("age cannot be negative")
    print(age)
        
try:
    set(5)
except ValueError as e:
    print(e)

5

In [18]:
def myadd(x,y):
    return x+y

In [19]:
myadd(3,4)

7

lambda arguments:expression

In [20]:
myadd = lambda x,y: x+y

In [21]:
print(myadd(1,2))

3

In [22]:
def mysq(x):
    return x**2

In [23]:
mysq(2)

4

In [24]:
mysq = lambda x: x**2

In [25]:
mysq(3)

9

Recursion

called by another function repetitively

In [28]:
def myfact(n):
    myfact = 1
    if n == 0 or n == 1:
        return 1
    else:
        for i in range(1,n+1):
            myfact = myfact * i
    return myfact

In [31]:
myfact(5)

120

5! = 5*4*3*2*1

In [32]:
def myfact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * myfact(n-1)
    
print(myfact(5))

120

1. myfact(5) is called
2. return 5*myfact(4)
3. return 4 *myfact(3)
4. return 3*myfact(2)
5. return 2 *myfact(1)
6. return 1

In [33]:
5*4*3*2*1

120